# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# IDEs or Text Editors
.vscode/
.idea/

# Build output
/dist/
    